<!--start-home-->
<div class="header" id="home">
    <div class="container">
        <div>
            <a href="{{ path('mainpage') }}"><h1>Drafter</h1></a>
            <p>the easiest way to find a <span>bike ride</span></p>
        </div>
    </div>
</div>