<!--start-home-->
<div class="header" id="home">
    <div class="container">
        <div>
            <h1>Drafter</h1>
            <h2>Find group rides in your neighbourhood. And all around the world.</h2>
        </div>
    </div>
</div>
