{% extends 'base.html.twig' %}

{% block body %}
    <h1>Drafter</h1>
    <p>Add new ride in your neighbourhood!</p>
    <div id="wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}</div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
