{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h2>Rides</h2>
    {% for ride in rides %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h3>{{ ride.name }}</h3>
            <span>{{ ride.locationDescription }}</span>
            <span>{{ ride.beginning|date("Y-m-d") }}</span>
            <span></span>
        </div>
    {% endfor %}
</div>
<div class="clearfix"> </div>
<div class="container" style="margin: auto">
    <a href="{{ path('addRide') }}" class="btn btn-info btn-block" role="button">Add new ride</a>
</div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block javascripts %}

{% endblock %}