{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
        dupa
        {#{% for ride in rides %}#}
            {#{{ ride.location }}#}
            {#{{ ride.beginning }}#}
            {#{{ ride.owner }}#}
            {#{{ ride.id }}#}
        {#{% endfor %}#}
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
