@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900&subset=latin-ext');

body {
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #D60200;
  font-weight: bolder;
  font-size: 40px;
}
.ride-pane {
  background-color: white;
  /*box-shadow: 0 0 5px grey ;*/
  margin: 0 0 20px  0;
}

.ride-pane-title {
  font-size: 18px;
  margin: 5px 0;
  color: #241e4e;
}
.day {
  font-size: 20px;
}


