{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <a href="https://www.strava.com/oauth/authorize?client_id=15104&amp;response_type=code&amp;redirect_uri=http://drafter.local/app_dev.php/strava/return&amp;approval_prompt=force">
        <img src="http://drafter.local/images/connect_strava.png">
    </a>
</div>

{% endblock %}