{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>All your club events are now synchronized with Drafter.</p>
        <p><a href="{{ path('mainpage') }}">Back to homepage</a></p>
    </div>

{% endblock %}