@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900&subset=latin-ext');

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #484848;
    font-size: 18px;
}
.container .btn {
    font-size: 20px;
}
#home h1 {
    color: white;
    font-weight: bolder !important;
    font-size: 58px !important;
    text-shadow: 6px 4px rgba(0, 0, 0, 0.15);
    /*text-shadow: 4px 3px 0 #489fdf,9px 8px 0 rgba(0,0,0,0.15);*/
    text-align: center;
}
#home h1 a {
    color: #fff;
}
#home h2 {
    color: white;
    text-align: center;
    /*font-variant: small-caps;*/
    font-size: 26px !important;
    font-weight: lighter !important;
    word-spacing: .1em;
    letter-spacing: .05em;
    line-height: 130% !important;
}

.header {
    background-color: #489fdf;
    margin: 0 0 20px 0;
    padding: 10px;
}

.ride-pane {
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    margin: 10px 0 20px 0;
    text-shadow: 0 0 1px white;
    background-size: 50%;
    background-position: -25% 10px;
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.gear-type {
    float: left;
    height: 40px;
    width: 40px;
    margin: 6px 0 10px 15px;
    border: 2px solid #484848;
    border-radius: 50%;
}

.gear-type-mtb {
    background-image: url("../images/mtb.svg");
}

.gear-type-road_bike {
    background-image: url("../images/road_bike.svg");
}

.background-opacity {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px 15px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);}

.ride-specs {
    font-size: 20px;
    margin: 10px 0 5px 0;
}

.ride-pane-title {
    font-size: 24px;
    margin: 5px 0;
    color: #2d728f;
    /*font-weight: bolder;*/
}
.ride-description {
    height: 45px;
    overflow: hidden;
}
.day {
    font-size: 20px;
}


